[submodule "libfins"]
	path = libfins
	url = git@github.com:lammertb/libfins.git
[submodule "paddle"]
	path = paddle
	url = git@github.com:g-i-wilson/paddle.git
[submodule "canoedb"]
	path = canoedb
	url = https://github.com/g-i-wilson/canoedb.git
[submodule "creek"]
	path = creek
	url = https://github.com/g-i-wilson/creek.git
